@use '/src/styles/constants/colors';

.searchTitle {
  margin-bottom: 18px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.inputBox {
  display: flex;
  text-align: center;

  .inputNumBox {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}

.title {
  width: 100px;
  min-width: 65px;
  height: 37px;
  padding-top: 10px;
  background-color: colors.$SEARCH_TITLE_BACKGROUND; // 후에 _colors.scss에서 가져올 예정
  border: 1px solid colors.$BLACK;
}

.input {
  width: 180px;
  height: 37px;
  padding: 10px;
  border: 1px solid colors.$BLACK;

  &::placeholder {
    text-align: center;
  }
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
