@use '/src/styles/constants/colors';

button {
  height: 40px;
  font-size: 16px;
  border-radius: 8px;

  &.large {
    width: 100px;
  }

  &.medium {
    width: 80px;
  }

  &.small {
    width: 52px;
    height: 37px;
  }

  &.primary {
    color: colors.$WHITE;
    background-color: colors.$PRIMARY;

    &:active {
      background-color: colors.$BUTTON_PRESSED;
      opacity: 0.9;
    }
  }

  &.secondary {
    color: colors.$PRIMARY;
    border: 1.5px solid colors.$PRIMARY;

    &:active {
      background-color: colors.$GRAY50;
    }
  }
}
