$WHITE: #ffffff;
$BLACK: #000000;
$GRAY50: #edeff1;

// input underLine
$GRAY100: #d1d8dc;

// font label
$GRAY300: #94a2ad;

// font 메인
$GRAY800: #3a474e;

$PRIMARY: #586cf5;
$SECONDARY: #e5f4fd;
$BACKGROUND: #f6f7f8;

$BUTTON_PRESSED: #283dc4;
$WARNING: #ea3a4b;

// 아래는 정리!
// login
$LOGIN_BACKGROUND: #f2f2f2;
$LOGIN_SUBMIT_BACKGROUND: #dae3f4;
$LOGIN_SUBMIT_BORDER: #e6edfa;
$LOGIN_BORDER: #b6b6b6;
$LOGIN_FAILED: #ff592f;
$LOGIN_TITLE: #434d5e;

// user search
$SEARCH_TITLE_BACKGROUND: #f2f2f2;

// user table
$TABLE_ROW: #444444;
$TABLE_TITLE_BACKGROUND: #f2f1f2;
$TABLE_USER_NUMBER: #ffa500;
