@use 'styles/constants/colors';

.userInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  color: colors.$INFO_TEXT;

  &Item {
    display: flex;
    gap: 8px;

    * {
      padding: 8px;
      text-align: center;
      border: 1px solid colors.$INFO_BACKGROUND;
      border-radius: 12px;
    }

    dt {
      width: 100px;
      background-color: colors.$INFO_BORDER;
    }

    dd {
      width: 180px;
    }
  }
}
