@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/constants/levels';

.appContainer {
  min-height: 100vh;
  background-color: colors.$BACKGROUND;

  .mainContainer {
    padding: 40px;
    margin-left: sizes.$LNB_WIDTH;
  }
}

.lnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: levels.$LNB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: sizes.$LNB_WIDTH;
  height: 100%;
  background-color: colors.$WHITE;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 4%);

  .topWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    padding-top: 40px;
    margin-bottom: 100px;
    background-color: colors.$PRIMARY;

    h1 {
      font-size: 22px;
      font-weight: 700;
      color: colors.$WHITE;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    .profile {
      position: absolute;
      bottom: -62px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        margin-top: 8px;
        color: colors.$GRAY800;
      }
    }
  }

  .navigation {
    a {
      display: flex;
      align-items: center;
      padding: 20px 30px;
      font-size: 18px;
      transition: all 0.1s ease-in-out;

      svg {
        margin-right: 12px;
        fill: currentcolor;
      }

      &.isActive {
        color: colors.$PRIMARY;
      }
    }
  }

  .logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: colors.$GRAY800;
    background-color: transparent;

    svg {
      margin-right: 4px;
      fill: currentcolor;
    }
  }
}

header {
  .menuLink {
    color: colors.$GRAY800;

    a {
      color: colors.$GRAY800;
    }

    .arrow {
      margin: 0 8px;
    }
  }
}
