@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/constants/levels';

.appContainer {
  min-height: 100vh;
  background-color: colors.$BACKGROUND;

  .mainContainer {
    padding: sizes.$HEADER_HEIGHT 40px 40px;
    margin-left: sizes.$LNB_WIDTH;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: levels.$HEADER;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: sizes.$HEADER_HEIGHT;
  padding: 0 40px;
  background-color: colors.$WHITE;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 20%);

  h1 {
    font-size: 22px;
    font-weight: 700;
    color: colors.$GRAY800;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  span {
    margin-right: 20px;
    color: colors.$GRAY800;
  }
}

.lnb {
  position: fixed;
  top: sizes.$HEADER_HEIGHT;
  left: 0;
  z-index: levels.$LNB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: sizes.$LNB_WIDTH;
  height: 100%;
  padding: 40px;
  background-color: colors.$SECONDARY;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 4%);

  .navigation {
    a {
      display: flex;
      align-items: center;
      padding: 20px 22px;
      border-radius: 10px;
      transition: all 0.1s ease-in-out;

      svg {
        margin-right: 12px;
        fill: currentColor;
      }

      &.isActive {
        color: colors.$WHITE;
        background-color: colors.$PRIMARY;
      }
    }
  }
}
