@use '/src/styles/constants/colors';

.message {
  display: inline-block;
  width: auto;
  padding: 5px 8px;
  margin-bottom: 10px;
  line-height: 140%;
  border-collapse: collapse;
  border: 1px solid colors.$GRAY100;
  border-radius: 8px;

  .countText {
    color: colors.$PRIMARY;
  }
}

.table {
  overflow: hidden;
  line-height: 140%;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 8%);

  tr {
    border-bottom: 1px solid colors.$GRAY100;
  }

  .tableId,
  .tableTitle {
    background-color: colors.$BACKGROUND;
  }

  .tableId,
  .userNumber {
    width: 150px;
  }

  .userNumber {
    color: colors.$GRAY800;
  }

  .tableBody {
    &:last-child {
      border-bottom: none;
    }
  }

  .tableCol {
    width: 400px;
    padding: 10px 5px;
    line-height: 140%;
    text-align: center;
  }
}
