.stepCountContainer {
  padding: 20px 10px;

  .title {
    padding: 0 20px;
    font-size: 25px;
    font-weight: 600;
  }

  .summary {
    margin: 0 20px;

    p {
      font-size: 20px;

      + p {
        margin-top: 10px;
      }
    }
  }
}
