@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';
@use 'styles/constants/colors';
@use 'styles/constants/levels';

body::before {
  @include position.fixed(0);
  z-index: levels.$BACKGROUND_IMAGE;
  width: 100vw;
  height: 100vh;
  content: '';
  background-image: url('/assets/imgs/office.webp');
  filter: blur(10px);
  background-size: cover;
  opacity: 0.8;
}

.loginBackground {
  @include flexbox.flexbox(center, center);
  width: 100vw;
  height: 100vh;
}

.loginWrapper {
  @include flexbox.flexbox(start, center);
  flex-direction: row;
  width: 60vw;
  height: 50vh;
  background-color: colors.$WHITE;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px rgba(colors.$GRAY800, 20%);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 80vw;
    height: 80vh;

    .loginMain,
    .loginForm {
      @include flexbox.flexbox(center, center);
    }
  }
}

.loginMain {
  @include flexbox.flexbox(center, start);
  flex-direction: column;

  span {
    font-style: italic;
    color: colors.$GRAY300;
    text-decoration: underline;
  }
}

.loginForm {
  @include flexbox.flexbox(center, start);
  flex-direction: column;

  .loginInput {
    height: 40px;
    margin-bottom: 20px;
    line-height: 20px;
    border-bottom: 2px solid colors.$LOGIN_BORDER;

    &::placeholder {
      color: colors.$GRAY100;
    }
  }

  .loginRemember {
    @include flexbox.flexbox(center, start);
    flex-direction: row;

    input {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 2px solid colors.$GRAY100;

      &:checked {
        background-color: colors.$PRIMARY;
        box-shadow: inset 0 0 0 2px colors.$WHITE;
      }
    }

    label {
      line-height: 20px;
      color: colors.$GRAY800;
    }
  }

  .loginButton {
    @include flexbox.flexbox(center, center);
    width: 100px;
    height: 40px;
    margin: 20px 0;
    font-size: 20px;
    color: colors.$WHITE;
    background-color: colors.$PRIMARY;
    border: 1px solid colors.$LOGIN_SUBMIT_BORDER;
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: colors.$BUTTON_PRESSED;
    }
  }

  .loginFailed {
    margin-top: 20px;
    font-size: 15px;
    color: colors.$LOGIN_FAILED;
  }
}
